.title {
    display: flex;
    justify-content: center;
}

.empTable {
	width: 90%;
	border-collapse: collapse; 
    margin-left: auto;
    margin-right: auto;
}

.empTable th {
	font-weight: bold;
	padding: 5px;
	background: rgb(188, 188, 188);
	border: 1px solid white;
}

.empTable td {
	border: 1px solid rgb(255, 255, 255);
	padding: 5px;
}

.empTable tr {
    background: rgb(249, 249, 249);
    border-radius: 8px;
}

.empTable tr:hover {
    background: rgb(227, 227, 227);
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 0 5% 5%;
}

#addEmpForm, #editEmpForm {
    width: 40%;
    padding: 15px;
}

#editEmpForm {
    display: none;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: rgb(252, 239, 239);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
